/* Reset some default styles for the header and navigation */
body {
    margin: 0;
    padding: 0;
}

.sticky-header {
    background-color: #333; /* Background color for the header */
    color: #fff; /* Text color for the header links */
    position: sticky;
    top: 0;
    z-index: 100; /* Ensure the header appears above other content */
}

.sticky-header nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.sticky-header nav ul {
    list-style: none;
}

.sticky-header nav ul li {
    display: inline;
    margin-right: 60px;
}

.sticky-header nav ul li:last-child {
    margin-right: 0;
}

.sticky-header nav ul li a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

/* Add some styles for when users hover over the links */
.sticky-header nav ul li a:hover {
    color: #ff9900; /* Change the color on hover */
}

.Home {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Ensure the section takes up at least the full viewport height */
}

/* Additional styles for the divSection elements */
.divSection {
    max-width: 400px; /* Set a maximum width for the divSection elements */
    padding: 20px;
}

.divSection a {
    margin-right: 10px; /* Adjust the margin to control the spacing */
    display: inline-block; /* Ensure buttons are displayed as blocks to control margin */
}